.card {
  color: #2e2925;
  border: 2px dashed crimson;
  width: 18rem;
  border: #D5E8F4 1px solid !important;
  border-radius: 0.25rem;
  border-color: #d5e8f4;
  flex: 1;
}

.card a {
  text-decoration: none;
  color: #00496e;
}

.card a:hover {
  text-decoration: underline;
}    

.cardTitle {
  font-size: 1rem;
  padding: 15px 20px;
  text-align: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  font-weight: 700;
}  


.cardTitle.blue {
  background-color: #d5e8f4;
}  

.cardTitle svg {
  width: 16px;
}  

.cardBody {
  padding: 1.875rem;
  text-align: left;
}
